---
// js

---

<!-- html -->
<section class="experts">
  <img class="shopify-logo" src="https://www.customerparadigm.com/wp-content/uploads/2019/10/shopify-experts-customparadigm-icons2x.png" alt="shopify expert">
  <p class="text-center w-full text-sm">We are an expert Shopify agency partner who help ambitious brands make profitable eCommerce websites. As as a Shopify expert agency we craft ecommerce solutions than engage customers and build with cutting edge Shopify technology.<br/> If you're ready to design, develop or scale on shopify we have the solution.</p>
  <hr class="w-4/5 bg-gray mt-10`" />
</section>

<style>
  /* styles */
  .experts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 12px;
  }
  .shopify-logo {
    height: 150px;
  }
</style>